<nav class="navbar navbar-expand-md bg-white navbar-light">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img style="width:110px" src="https://itilite.com/View/assets/images/home/images/itilite-logo-1.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create New Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Service Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Use IL Cash</a>
            </li>
            <li class="nav-item mr-0 ml-md-auto">
                <a class="nav-link d-none d-lg-block" href="#">
                    <img src="assets/notification.svg" width="15" alt="">
                </a>
                <a class="nav-link d-md-block d-lg-none" href="#">
                    Notifications
                </a>
            </li>
            <li class="nav-item mr-0 ml-0">
                <a class="nav-link ml-0" href="#"><span><img src="assets/user.svg" width="15" alt=""></span>&nbsp;&nbsp;&nbsp;Jitendra</a>
            </li>
        </ul>
    </div>
</nav>
