html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f7f7f7 !important;
}

.row {
  margin: 0 !important;
}
